/*
 * WP-Extra-Settings 
 * (c) 2013 Mirko Grewing
 */
 
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

#icon-options-general {
    background: transparent url( '../img/mglogo.png' ) no-repeat;
}

.wpes {
	font-family: 'Open Sans', Tahoma, Geneva, sans-serif;
	font-size: .9em; 
}

.title {
	font-size: 1.5em; 
	font-weight: bold;
}

h3 {
	margin-top: 25px;
}

.onoffswitch {
    position: relative;
	width: 90px;
	float:left;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
	margin-top: -8px;
}

.onoffswitch-checkbox {
    display: none!important;
}

.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}

.onoffswitch-inner {
    width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
    float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #2FCCFF; color: #FFFFFF;
}

.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}

.onoffswitch-switch {
    width: 18px; margin: 6px;
    background: #FFFFFF;
    border: 2px solid #999999; border-radius: 20px;
    position: absolute; top: 0; bottom: 0; right: 56px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

.tooltip {
	border-bottom: 1px dotted #000000;
	color: #000000; 
	outline: none;
	cursor: help; 
	text-decoration: none;
	position: relative;
	margin-top: 15px;
}

.tooltip span {
	margin-left: -999em;
	position: absolute;
}

.tooltip:hover span {
	border-radius: 5px 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); 
	-webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1); 
	-moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
	font-family: 'Open Sans', Tahoma, Geneva, sans-serif;
	position: absolute; 
	left: 1em; 
	top: 2em; 
	z-index: 99;
	margin-left: 0; 
	width: 250px;
	color: #000;
	font-size: .9em; 
	line-height: 1.3em;
}

.tooltip:hover img {
	border: 0; 
	margin: -10px 0 0 -55px;
	float: left; 
	position: absolute;
}

.tooltip:hover em {
	font-family: 'Open Sans', Tahoma, Geneva, sans-serif; 
	font-size: 1.2em; 
	font-weight: bold;
	display: block; 
	padding: 0.2em 0 0.6em 0;
	color: #000;
}

.classic { padding: 0.8em 1em; }

.custom { padding: 0.5em 0.8em 0.8em 2em; }

* html a:hover { background: transparent; }

.classic {background: #FFFFAA; border: 1px solid #FFAD33; }

.critical { background: #FFCCAA; border: 1px solid #FF3334;	}

.help { background: #9FDAEE; border: 1px solid #2BB0D7;	}

.info { background: #9FDAEE; border: 1px solid #2BB0D7;	}

.warning { background: #FFFFAA; border: 1px solid #FFAD33; }

.alert-box {
    color:#555;
    border-radius:10px;
    font-family:Tahoma,Geneva,Arial,sans-serif;font-size:11px;
    padding:10px 10px 10px 36px;
    margin-top: 10px;
	width: 500px;
}

.alert-box span {
    font-weight:bold;
    text-transform:uppercase;
}

.error_mg {
    /* background:#ffecec url('includes/img/error.png') no-repeat 10px 50%; */
    border:1px solid #f5aca6;
}
.success_mg {
    /* background:#e9ffd9 url('includes/img/success.png') no-repeat 10px 50%; */
    border:1px solid #a6ca8a;
}
.warning_mg {
    /* background:#fff8c4 url('includes/img/warning.png') no-repeat 10px 50%; */
    border:1px solid #f2c779;
}
.notice_mg {
    /* background:#e3f7fc url('includes/img/notice.png') no-repeat 10px 50%; */
    border:1px solid #8ed9f6;
}

/* Style text fields and dropdown menus */

.text-field {
	clear:both;
	margin-top: 10px;
	width: 300px;
}

.radiobuttons {
    margin-top: 30px;
    margin-bottom: 20px;
}

input[type=radio] {
    display:none;
}
 
input[type=radio] + label {
    display:inline-block;
    margin:-2px;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
    background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
    background-image: -o-linear-gradient(top,#fff,#e6e6e6);
    background-image: linear-gradient(to bottom,#fff,#e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #ccc;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    border-bottom-color: #b3b3b3;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
}
 
input[type=radio]:checked + label {
       background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
        background-color:#e0e0e0;
}


.wp-pro-form {
	/* background: #F7F7F7 url(wp-content/uploads/2013/06/contact_input.png) repeat-x !important; */
	background: #F7F7F7 !important;
	border: 2px solid #999999!important;
	color: #111 !important;
	padding: 8px !important;
	border-radius: 20px !important;
	-webkit-border-radius: 20px !important;
	-moz-border-radius: 20px !important;
	margin: 0 !important;
	font-family: arial !important;
	width: 320px !important;
	-ms-box-sizing: content-box!important;
	-moz-box-sizing: content-box!important;
	box-sizing: content-box!important;
	-webkit-box-sizing: content-box!important;
}

.wp-pro-form-label {
	font-family: 'Open Sans', Tahoma, Geneva, sans-serif;
	font-size: 1em; 
	float:left;
	margin: 15px 5px 0 0;
	width: 100px;
}

.comment {
	font-family: 'Open Sans', Tahoma, Geneva, sans-serif;
	font-size: .9em; 
	margin: 5px 0 0 0px;
	position: relative;
	/* width: 120px; */
}